*{padding: 0;
    margin: 0;
    box-sizing: border-box;
    }
    
    
    body{
        
        background-size: cover;
        background-position: center;
        background-image: url("placement.jpg");
       
        font-family: sans-serif;
        
    }
    .menu-bar{
        background: burlywood;
        text-align: center;
        border-radius: 10px;
        border: 5px;
    }
    .menu-bar ul{
        display: inline-flex;
        list-style: none;
        color: aliceblue;
    }
    .menu-bar ul li{
        width: 120px;
        margin: 15px;
        padding: 15px;
    
    }
    .a{
        text-decoration: none;
        color: aquamarine;
    }
    .act, .menu-bar ul li:hover{
        background: #2bab0d;
        border-radius: 3px;
    }
    .menu-bar1{
        display: none;
    }
    .menu-bar ul li :hover
    .menu-bar1{
    
        display: block;
        position: absolute;
        background: darksalmon;
        margin-top: 15px;
        margin-left: 10px;
    }
    .b{
        
    }
    
    
    
    
    
    
    
    
    
    